# After changing this file, please run:
#
#     git ls-files -i --exclude-standard
#
# to check that you haven't inadvertently ignored any tracked files.  This
# command should return no output.  Any files listed by it are files
# present in the repository but ignored by .gitignore.

# General rules, with some exclusions for where they're too general.

.DS_Store
.deps/
.dirstamp
.libs/
Makefile
Makefile.in
asn1_*.[cx]
!/lib/asn1/asn1_gen.c
!/lib/asn1/asn1_print.c
!/lib/krb5/asn1_glue.c
*_asn1.h
!/lib/asn1/heim_asn1.h
*_asn1.hx
*_asn1-priv.h
*_asn1-priv.hx
*_asn1-template.c
*_asn1_files
*_err.[ch]
!/lib/com_err/com_err.[ch]
*-commands.[ch]
*~
*.a
*.la
*.lo
*.o

# Top-level files.

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/setupbuild.cmd
/ylwrap

/lib/libedit/aclocal.m4
/lib/libedit/autom4te.cache
/lib/libedit/compile
/lib/libedit/config.guess
/lib/libedit/config.log
/lib/libedit/config.status
/lib/libedit/config.sub
/lib/libedit/configure
/lib/libedit/depcomp
/lib/libedit/install-sh
/lib/libedit/libtool
/lib/libedit/ltmain.sh
/lib/libedit/missing
/lib/libedit/setupbuild.cmd
/lib/libedit/ylwrap


# Files in subdirectories.

/admin/ktutil
/appl/afsutil/afslog
/appl/afsutil/pagsh
/appl/ftp/ftp/ftp
/appl/ftp/ftpd/ftpcmd.c
/appl/ftp/ftpd/ftpd
/appl/ftp/ftpd/gssapi.c
/appl/ftp/ftpd/security.c
/appl/ftp/ftpd/security.h
/appl/gssmask/gssmaestro
/appl/gssmask/gssmask
/appl/kf/kf
/appl/kf/kfd
/appl/kx/kx
/appl/kx/kxd
/appl/kx/rxtelnet
/appl/kx/rxterm
/appl/kx/tenletxr
/appl/login/login
/appl/login/login-protos.h
/appl/otp/otp
/appl/otp/otpprint
/appl/popper/pop_debug
/appl/popper/popper
/appl/push/pfrom
/appl/push/push
/appl/rcp/rcp
/appl/rsh/limits_conf.c
/appl/rsh/login_access.c
/appl/rsh/rsh
/appl/rsh/rshd
/appl/su/su
/appl/telnet/telnet/telnet
/appl/telnet/telnetd/telnetd
/appl/test/gssapi_client
/appl/test/gssapi_server
/appl/test/http_client
/appl/test/nt_gss_client
/appl/test/nt_gss_server
/appl/test/tcp_client
/appl/test/tcp_server
/appl/test/uu_client
/appl/test/uu_server
/appl/xnlock/xnlock
/cf/libtool.m4
/cf/ltoptions.m4
/cf/ltsugar.m4
/cf/ltversion.m4
/cf/lt~obsolete.m4
/doc/Makefile.in
/doc/heimdal.info
/doc/hx509.info
/doc/gssapi
/doc/hdb
/doc/hcrypto
/doc/hx509
/doc/krb5
/doc/ntlm
/doc/wind
/doc/vars.texi
/doc/doxyout
/include/*.h
!/include/crypto-headers.h
!/include/heim_threads.h
/include/bits
/include/config.h.in
/include/gssapi/*.h
/include/kadm5/*.h
/include/stamp-h1
/include/version.h.in
/kadmin/add_random_users
/kadmin/kadmin
/kadmin/kadmind
/kcm/kcm
/kcm/kcm-protos.h
/kdc/digest-service
/kdc/hprop
/kdc/hpropd
/kdc/kdc
/kdc/kdc-protos.h
/kdc/kdc-private.h
/kdc/kdc-replay
/kdc/kstash
/kdc/string2key
/kpasswd/kpasswd
/kpasswd/kpasswd-generator
/kpasswd/kpasswdd
/kuser/copy_cred_cache
/kuser/generate-requests
/kuser/kcc
/kuser/kdecode_ticket
/kuser/kdestroy
/kuser/kdigest
/kuser/kgetcred
/kuser/kimpersonate
/kuser/kinit
/kuser/klist
/kuser/kswitch
/kuser/kverify
/lib/asn1/asn1_compile
/lib/asn1/asn1_gen
/lib/asn1/asn1_print
/lib/asn1/asn1parse.c
/lib/asn1/asn1parse.h
/lib/asn1/der-protos.h
/lib/asn1/der-private.h
/lib/asn1/lex.c
/lib/auth/Makefile.in
/lib/com_err/compile_et
/lib/com_err/lex.c
/lib/com_err/parse.c
/lib/com_err/parse.h
/lib/com_err/snprintf.c
/lib/com_err/strlcpy.c
/lib/editline/snprintf.c
/lib/editline/strdup.c
/lib/editline/strlcat.c
/lib/editline/testit
/lib/gssapi/gss
/lib/gssapi/gsstool
/lib/gssapi/krb5/gsskrb5-private.h
/lib/gssapi/ntlm/ntlm-private.h
/lib/gssapi/spnego/spnego-private.h
/lib/gssapi/test_context
/lib/gssapi/test_cred
/lib/gssapi/test_kcred
/lib/gssapi/test_ntlm
/lib/hdb/hdb-protos.h
/lib/hdb/hdb-private.h
/lib/hdb/test_dbinfo
/lib/hdb/test_hdbkeys
/lib/hdb/test_mkey
/lib/hx509/data/*.srl
/lib/hx509/data/*.req
/lib/hx509/data/sub-ca-combined.crt
/lib/hx509/hx509-private.h
/lib/hx509/hx509-protos.h
/lib/hx509/hxtool
/lib/hx509/sel-gram.c
/lib/hx509/sel-gram.h
/lib/hx509/sel-lex.c
/lib/ipc/tc
/lib/ipc/ts
/lib/ipc/ts-http
/lib/kadm5/iprop-log
/lib/kadm5/ipropd-master
/lib/kadm5/ipropd-slave
/lib/kadm5/test_pw_quality
/lib/kadm5/kadm5-protos.h
/lib/kadm5/kadm5-private.h
/lib/kafs/resolve.c
/lib/kafs/strlcpy.c
/lib/kafs/strsep.c
/lib/kafs/strtok_r.c
/lib/krb5/krb5-protos.h
/lib/krb5/krb5-private.h
/lib/krb5/krbhst-test
/lib/krb5/test_alname
/lib/krb5/test_crypto
/lib/krb5/test_forward
/lib/krb5/test_get_addrs
/lib/krb5/test_gic
/lib/krb5/test_kuserok
/lib/krb5/test_renew
/lib/krb5/test_rfc3961
/lib/krb5/verify_krb5_conf
/lib/ntlm/heimntlm-protos.h
/lib/otp/ndbm_wrap.c
/lib/otp/ndbm_wrap.h
/lib/otp/otptest
/lib/otp/snprintf.c
/lib/otp/strcasecmp.c
/lib/otp/strlcat.c
/lib/otp/strlcpy.c
/lib/otp/strlwr.c
/lib/otp/strncasecmp.c
/lib/roken/glob.h
/lib/roken/make-roken
/lib/roken/make-roken.c
/lib/roken/resolve-test
/lib/roken/rkpty
/lib/roken/roken.h
/lib/roken/snprintf-test
/lib/roken/vis.h
/lib/sl/getprogname.c
/lib/sl/slc
/lib/sl/slc-gram.c
/lib/sl/slc-gram.h
/lib/sl/slc-lex.c
/lib/sl/snprintf.c
/lib/sl/strdup.c
/lib/sl/strtok_r.c
/lib/sl/strupr.c
/lib/wind/*.pyc
/lib/wind/bidi_table.c
/lib/wind/bidi_table.h
/lib/wind/combining_table.c
/lib/wind/combining_table.h
/lib/wind/errorlist_table.c
/lib/wind/errorlist_table.h
/lib/wind/idn-lookup
/lib/wind/map_table.c
/lib/wind/map_table.h
/lib/wind/normalize_table.c
/lib/wind/normalize_table.h
/lib/wind/punycode_examples.c
/lib/wind/punycode_examples.h
/out
/po/gen-po.sh
/scripts
/tests/bin/setup-env
/tests/can/krb5.conf
/tests/can/mit-pkinit-20070607.cf
/tests/db/have-db
/tests/db/krb5.conf
/tests/db/krb5.conf-sqlite
/tests/gss/krb5.conf
/tests/java/krb5.conf
/tests/kdc/krb5-pkinit-win.conf
/tests/kdc/krb5-pkinit.conf
/tests/kdc/krb5-slave.conf
/tests/kdc/krb5-weak.conf
/tests/kdc/krb5.conf
/tests/ldap/krb5.conf
/tests/plugin/krb5.conf
/tools/heimdal-gssapi.pc
/tools/krb5-config
