language: c

env:
    global:
        secure: "YKG77M7zMvJ+IeV2ziw//HcHqMqFoAzIZlE99Yw/aOn5pvMYKq6Ep7EFVhbfDu9yN0T7M5csCGQeH7/ylDlsZSRMUw72844ezMDM8e10T/lW/T/OYN7j1ZVHh3WSJgS+1D9VG6/Y0OY1Si3lb7PcOdAIU0fPJV5xQONN2+hpJeI="

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq bison comerr-dev flex libcap-ng-dev libdb-dev libedit-dev libjson-perl libldap2-dev libncurses5-dev libperl4-corelibs-perl libsqlite3-dev pkg-config python ss-dev texinfo unzip netbase
    - mkdir ci-build
    - mkdir coverity-build
    - ./autogen.sh

install:
    - cd ci-build
    - if [ -n "$COVERAGE" ]; then pip install --user cpp-coveralls; fi
    - ../configure --enable-maintainer-mode $COVERAGE
    - make -j3

script:
    - if [ x${COVERITY_SCAN_BRANCH} != x1 ]; then make check; fi

compiler: clang
after_script:
    - if [ -n "$COVERAGE" ]; then coveralls --gcov-options; fi

matrix:
    # Add a gcov build
    include:
        - compiler: gcc
          env: COVERAGE="--enable-gcov"
          os: linux
    # The gcov build is not working quite yet
    allow_failures:
        compiler: gcc
        env: COVERAGE="--enable-gcov"
        os: linux

notifications:
    email:
        on_success: change
        on_failure: always

addons:

    coverity_scan:
        project:
            name: "heimdal/heimdal"
            description: "Build submitted via Travis CI"
        notification_email: heimdal-builders@secure-endpoints.com
        build_command_prepend: ../configure --enable-maintainer-mode
        build_command: make
        branch_pattern: coverity_scan
