#!/usr/bin/make -f

%:
	dh  $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/opt/heimdal --without-openldap	\
	    --with-sqlite3=/usr --with-readline-lib=/usr/lib		\
	    --with-readline-include=/usr/include/editline/		\
	    --without-krb4
